<div class="panel panel-primary">
  <div class="panel-heading">Tweet list</div>
  <div class="panel-body">

    <!-- {{{ List filters -->
    <div class="row">
      <div class="col-md-12">
        <label>
          Show pictures
          <input ng-model="$ctrl.showPicture" type="checkbox">
        </label>
      </div>
    </div>
    <!-- }}} -->

    <div ng-show="($ctrl.tweets.length === 0) && ($ctrl.loading === false)" class="alert alert-warning">
      <p>No results.</p>
    </div>

    <div ng-show="($ctrl.loading === true)" class="alert alert-info">
      <p>Loading...</p>
    </div>

    <!-- {{{ Tweet list -->
    <div ng-repeat="tweet in $ctrl.tweets" class="row">
      <div class="col-md-12 tweet">

        <div ng-show="$ctrl.showPicture" class="tweet-profile-image col-md-1">
          <div class="thumbnail">
            <img ng-src="{{tweet.user.profile_image_url}}" />
          </div>
        </div>

        <div class="tweet-profile-image col-md-1">
          <div title="{{tweet.user.name}}" class="tweet-user-name">{{tweet.user.name}}</div>
        </div>

        <div class="col-md-2">
          <div title="{{tweet.created_at}}" class="tweet-date">{{tweet.created_at}}</div>
        </div>

        <div class="tweet-profile-image col-md-8">
          <div class="tweet-text">{{tweet.text}}</div>
        </div>

      </div>
    </div>
    <!-- }}} -->

  </div>
</div>
